<article class="d-flex flex-wrap">
  <mat-card
    class="example-card flex-column me-3"
    *ngFor="let card of cardsList; let i = index"
  >
    <mat-card-header>
      <mat-card-title-group>
        <img [src]="card.imgSrc" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-title class="d-flex justify-content-center">{{
      card.description
    }}</mat-card-title>
    <button
      (click)="onRemoveCardBtnClick(i)"
      mat-raised-button
      color="primary col-md-4 m-auto mb-3  "
    >
      Remove
    </button>
  </mat-card>
</article>
